<div>

<header id="header_navbar">{{i18n 'Loading...'}}</header>

<!-- router contents -->
<main id="maincontent">{{i18n 'Loading...'}}</main>

{{#if_eq router.currentPage 'login'}}{{else}}{{#if_eq router.currentPage 'register'}}{{else}}<footer id="main_footer">{{i18n 'Loading...'}}</footer>
{{/if_eq}}{{/if_eq}}
</div>
