<main>
    <h1>{{ i18n 'Spendings' }}{{#if_eq user.role 'admin'}} - {{ i18n 'Admin' }}{{/if_eq}}</h1>

    {{#unless user.isLogged}}
        {{i18n 'Log-in in order to show your spendings'}}
    {{else}}
        <div class="buttons">
            <div class="addArea">
                <a class="addButton" href="#add-spending">
                    <span class="addText">{{i18n 'Add Spending'}}</span>
                    <span class="addIcon">
                        <img class="iconAdd" src="css/icons/plus.svg" alt="{{i18n 'Add'}}">
                    </span>
                </a>
            </div>
            <a href="#spendings">
                <img id="export_to_csv" width="32" height="32" src="css/icons/export.svg" alt="{{i18n 'Download CSV'}}">
            </a>
        </div>

        <table id="showall">
            <thead>
                <tr>
                    <th >{{i18n 'Id'}}</th>
                    <th id="sort_type" class="sorting_asc">{{i18n 'Type'}}</th>
                    <th id="sort_date" class="sorting_asc">{{i18n 'Date'}}</th>
                    <th id="sort_quantity" class="sorting_asc">{{i18n 'Quantity'}}</th>
                    <th class="optional">{{i18n 'Description'}}</th>
                    <th class="optional">{{i18n 'Document Name'}}</th>
                    {{#if_eq user.role 'admin'}}<th>{{i18n 'Owner'}}</th>{{/if_eq}}
                    <th>{{i18n 'Action'}}</th>
                </tr>
            </thead>
            <tbody>
                {{#each spendings}}
                    <tr>
                        {{#with this}}
                            <td >{{id_spending}}</td>
                            <td>{{#i18n}}{{type_spending}}{{/i18n}}</td>
                            <td>{{date_spending}}</td>
                            <td>{{qty_spending}}</td>
                            <td class="optional">{{description_spending}}</td>
                            <td class="optional file_spending"><a id="download_spending_{{id_spending}}" href="#">{{doc_name_spending}}</a></td>
                            {{#if_eq ../user.role 'admin'}}<td>{{owner}}</td>{{/if_eq}}
                            <td>
                                <a class="edit_sp"><img id="edit_spending_{{id_spending}}" src="css/icons/edit.svg" width="24" height="24"></a>
                                <a class="delete_sp"><img id="delete_spending_{{id_spending}}" src="css/icons/delete.svg" width="24" height="24"></a>
                            </td>
                        {{/with}}
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{/unless}}

</main>